%h1.board_title= @task.title
%h1.board_title= @task.content
%h1.board_title= @task.deadline
-if @task.eyecatch&.attached?
  = image_tag @task.eyecatch
= link_to '編集する', edit_board_task_path(@task)
= link_to '削除する', board_task_path(@task.board_id), data: {method: 'delete', confirm: '本当に削除してもいいですか'}
.article
  %h2 コメント一覧
  - @comments.each do |comment|
    .article_comment
      %p= comment.content

.container
  = link_to new_board_task_comment_path(board_id: @task.board_id, task_id: @task) do
    .add_board_btn
      コメントを追加