.container
  .task
    .task_header
      .task_header_title= @task.title
      - if user_signed_in? && current_user.has_task_written?(@task)
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_board_task_path(@task)
            = link_to '削除する', board_task_path(@task.board_id), data: {method: 'delete', confirm: '本当に削除してもいいですか'}
    -if @task.eyecatch&.attached?
      .task_image
        = image_tag @task.eyecatch
    %p.task_header_title Description
    .task_content= @task.content
    %p.task_deadline= "deadline  #{@task.deadline}"
  .comment
    %p.comment_title Comment
    - @comments.each do |comment|
      .comment_list
        = image_tag comment.user.avatar_image
        %p= comment.content
    = link_to new_board_task_comment_path(board_id: @task.board_id, task_id: @task) do
      .add_comment_btn
        + Add new comment